.body {
  background-image: url("../../assets/images/gallery-bg.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  transition: 0.5s;
}

.gallery {
  max-width: 780px;
  margin: 35px auto;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.gallery__item {
  background: linear-gradient(
    179.96deg,
    rgba(255, 255, 255, 0.25) 0.04%,
    rgba(87, 177, 255, 0) 130.08%
  );
  border-radius: 8px;
  width: 170px;
  height: 190px;
}

.gallery__info {
  padding: 0 5px;
  display: flex;
  justify-content: space-between;
}

.gallery__img {
  border-radius: 8px;
}

.gallery__extra {
  background: rgb(113, 136, 183);
  border-radius: 30px;
  padding: 0 10px;
  font-size: 14px;
  border: none;
  cursor: pointer;
  transition: all 0.5s;
}

.gallery__extra:hover {
  background: rgb(65, 65, 229);
}

.item__name {
  font-size: 32px;
  font-weight: 600;
}
