.body {
  background-image: url("../../assets/images/gallery-bg.jpeg");
  background-size: auto;
  width: 100%;
  height: 100%;
  transition: 0.5s;
}

.main {
  height: calc(100vh - 160px);
}

.gallery {
  max-width: 780px;
  margin: 35px auto;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.gallery__item {
  background: linear-gradient(
    179.96deg,
    rgba(255, 255, 255, 0.25) 0.04%,
    rgba(87, 177, 255, 0) 130.08%
  );
  border-radius: 8px;
  width: 170px;
  height: 190px;
}

.gallery__info {
  padding: 0 5px;
  display: flex;
  justify-content: space-between;
}

.gallery__img {
  border-radius: 8px;
}

.gallery__extra {
  background: rgb(113, 136, 183);
  border-radius: 30px;
  padding: 0 10px;
  font-size: 14px;
  border: none;
  cursor: pointer;
  transition: all 0.5s;
}

.gallery__extra:hover {
  background: rgb(65, 65, 229);
}

.item__name {
  font-size: 32px;
  font-weight: 600;
}

.popup {
  visibility: hidden;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
  opacity: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  justify-content: center;
  background-color: rgba(37, 37, 38, 0.9);
  transition: all 0.5s;
}

.popup__container {
  position: relative;
}

.popup__close img {
  position: absolute;
  right: -34px;
  top: -22px;
  width: 30px;
  cursor: pointer;
}

.popup__inner {
  width: 100%;
  max-width: 265.5px;
}

.popup__inner .planet__card {
  width: 100%;
}

.planet__card {
  position: relative;
  height: 500px;
  background: transparent;
  border-radius: 20px;
  padding: 15px 15px 19px 16px;
  flex: 1 0 auto;
  width: 23%;
  cursor: pointer;
}

.planet__card::before {
  content: "";
  position: absolute;
  top: -2px;
  bottom: -2px;
  left: -2px;
  right: -2px;
  background: linear-gradient(
      315.75deg,
      rgba(254, 189, 171, 0.74) 30.06%,
      rgba(243, 169, 248, 0.66) 50.74%,
      #e0d8f0 80.49%,
      #eaf7fe 127.9%,
      #eaf7fe 149.54%
    ),
    linear-gradient(
      315.75deg,
      rgba(254, 189, 171, 0.74) 30.06%,
      rgba(243, 169, 248, 0.66) 50.74%,
      #e0d8f0 80.49%,
      #eaf7fe 127.9%,
      #eaf7fe 149.54%
    );
  border-radius: 20px;
  z-index: -1;
}

.planet__avatar {
  width: 100px;
  height: 100px;
}

.planet__description {
  font-size: 16px;
}

.planet__info {
  display: flex;
  gap: 20px;
}

.planet__astronomical-bodies {
  font-size: 15px;
}

.planet__review {
  height: 100%;
}

.popup_open {
  visibility: visible;
  opacity: 1;
}

.game__secret-play {
  position: relative;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.game__play {
  height: 50px;
  width: 50px;
  filter: invert(1);
  cursor: pointer;
  font-size: 53px;
  transition: 0.3s;
  background-image: url("../../assets/icons/play.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.game__pause {
  background-image: url("../../assets/icons/pause.png");
}

.game__play:hover {
  opacity: 0.75;
}

.game__progress-bar {
  transition: 0.5s;

  appearance: none;

  height: 5px;
  background: white;
  width: 213.4px;

  border-radius: 30px;
}

.game__progress-bar::-webkit-slider-thumb {
  -webkit-appearance: none;
  margin-top: -3px;
  margin-left: 0px;
  height: 10px;
  width: 7px;
  border: 0;
  background: -webkit-linear-gradient(
    45deg,
    rgb(213, 213, 213),
    rgba(109, 141, 255, 0.59)
  );
  border-radius: 30px;
  cursor: pointer;
}

.game__progress-bar::-webkit-slider-runnable-track {
  appearance: none;
  appearance: none;
  cursor: pointer;
  max-height: 5px;
  border-radius: 30px;
}

.game__progress-bar:focus {
  outline: none;
}

.game__currentTime {
  position: absolute;
  top: 35px;
  left: 78px;
}

.game__durationTime {
  position: absolute;
  right: 0;
  top: 35px;
}

.red-bg {
  background: linear-gradient(
    179.96deg,
    rgba(179, 43, 43, 0.69) 0.04%,
    rgb(48 50 73 / 98%) 130.08%
  );
}

.planet__volume {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 7px;
}

.play-icon {
  width: 40px;
  height: 36px;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  cursor: pointer;
  transition: 0.3s;
}

.play-icon:hover,
.play-icon:active {
  filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
    contrast(87%);
}

.volume-icon {
  background-image: url("../../assets/icons/volume.svg");
}

.mute {
  background-image: url("../../assets/icons/mute.svg");
}

.volume {
  background: linear-gradient(
    to right,
    #bdae82 0%,
    #bdae82 0%,
    #c8c8c8 0%,
    #c8c8c8 100%
  );
  height: 10px;
  width: calc(80% - 160px);
  outline: none;
  transition: background 450ms ease-in;
  -webkit-appearance: none;
}

.volume {
  background: linear-gradient(
    to right,
    #bdae82 0%,
    #bdae82 40%,
    #c8c8c8 40%,
    #c8c8c8 100%
  );
}

.volume {
  cursor: pointer;
  width: calc(50% - 40px);
  border-radius: 5px;
}

.volume::-webkit-slider-thumb {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  -webkit-appearance: none;
  cursor: pointer;
  background: #ffffff;
}

@media (max-width: 1024px) {
  .main {
    height: 100%;
  }
}
