.body {
  background-image: url("../../assets/images/bg.jpeg");
  background-size: auto;
  width: 100%;
  height: 100%;
  transition: 0.5s;
}

.main {
  height: calc(100vh - 160px);
}

.intro {
  margin: 25% 0;
  width: 100%;
  max-width: 500px;
}

.intro__text {
  font-weight: 700;
  font-size: 60px;
  line-height: 72px;
  color: #ffffff;
}

.intro__text_active {
  font-weight: 700;
  font-size: 60px;
  line-height: 72px;
  color: rgb(29 64 188);
}

.intro__subtext {
  margin-top: 10px;
  font-size: 24px;
  line-height: 36px;
}

.intro__subtext_active {
  font-size: 24px;
  line-height: 36px;
  color: rgb(29 64 188);
}

@media (max-width: 560px) {
  .intro__text {
    font-size: 42px;
  }

  .intro__text_active {
    font-size: 42px;
  }

  .intro__subtext {
    font-size: 18px;
  }
}

@media (max-width: 1024px) {
  .main {
    height: 100%;
  }
}
